<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.diogo.minhaaplicacao">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.Light.NoTitleBar">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Register3" />
        <activity android:name=".Register4" />
        <activity android:name=".RegisterConclusao" />
        <activity android:name=".UserArea" />
        <activity
            android:name=".Loja"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".Encomendas" />
        <activity android:name=".Contacto" />
        <activity android:name=".Conta" />
        <activity android:name=".Produto1" />
        <activity android:name=".Cart" />
        <activity android:name=".Registo" />
        <activity android:name=".Registo2" />
        <activity android:name=".AdminArea" />
        <activity android:name=".SearchList" />
        <activity android:name=".AdminLoja" />
        <activity android:name=".Categoria1" />
        <activity android:name=".DefUm"></activity>
    </application>

</manifest>